NODE_ENV=development

PORT=XXXX

# URL
BASE_URL=XXXX
FRONTEND_URL=XXXX

# JWT
JWT_EXPIRES_IN=5m
JWT_SECRET=XXX
REFRESH_TOKEN_SECRET=XXX
REFRESH_TOKEN_TTL_SECONDS=1800

# DATABASE
DB_TYPE=mysql #postgres
DB_SSL=true   # true | false
DB_HOST=XXXX
DB_DATABASE=XXXX
DB_USERNAME=XXXX
DB_PASSWORD=XXXX
DB_PORT=XXXX

# SendGrid
SENDGRID_API_KEY=XXX
SENDGRID_VERIFIED_EMAIL=XXX

# SMTP (alternative mail)
SMTP_HOST=XXX
SMTP_PORT=XXX
SMTP_MAIL=XXX
SMTP_PASSWORD=XXX

# Twilio (SMS)
TWILIO_ACCOUNT_SID=XXX
TWILIO_AUTH_TOKEN=XXX
TWILIO_PHONE_NUMBER=XXX

# Cloudinary (image/video upload)
CLOUDINARY_NAME=XXX
CLOUDINARY_API_KEY=XXX
CLOUDINARY_API_SECRET=XXX

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=
REDIS_TLS=false
